# General
TAGS
.#*
.DS_Store

# All stack stuff
.stack-work/

# All nix results
result

# All cabal stuff
dist/
dist-newstyle/

# All node stuff
node_modules/
npm-debug.log

# All bower stuff
bower_components/
