client/.stack-work/
client/result
client/dist
server/.stack-work/
server/result
server/dist
lib/.stack-work/
lib/result
lib/dist
assets/public/js/
assets/public/css/
assets/public/*.woff*
assets/public/*.svg
assets/public/*.ttf
assets/public/*.eot
node_modules/
npm-debug.log
TAGS
result
.#*
