$light-gray: darken(white, 3%);
$medium-gray: darken(white, 7%);

$brand: green;
$link: $brand;
$link-hover: darken($brand, 10%);

.canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.element {
  position: absolute;
}

// Own style

.spinner {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  border: 3px solid #aaa;
  border-right-color: transparent;
  border-radius: 50%;
  margin: 3px 0px 0px 3px;
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

body, html {
  font-family: "Open Sans";
  height: 100%;
  margin: 0px;
  position: relative;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 200px;
  padding: 10px;
  background-color: $light-gray;
  box-sizing: border-box;
  input {
    width: 180px;
    box-sizing: border-box;
  }
}

.tableGrid {
  position: absolute;
  left: 200px;
  top: 0px;
  right: 0px;
  bottom: 0px;

  .cell {
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
  }
  .record {
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
  }
  .column {
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
  }
  .record-new {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  .column-new {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  .origin {
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    box-sizing: border-box;
    height: 100%;
  }
}

.column {
  position: relative;
  $openWidth: 49px;
  .head {
    position: absolute;
    left: 0px;
    right: $openWidth;
    top: 0px;
    bottom: 0px;
    padding: 5px;
    .info {
      color: gray;
      font-size: smaller;
      .fa {
        margin-right: 5px;
      }
    }
  }
  .config {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: $openWidth;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 13px;
    .openIcon {
      color: $brand;
      padding: 0px;
    }
    .error {
      color: desaturate(red, 40%);
    }
    $diagLeft: 190px;
    .dialog {
      position: absolute;
      width: 480px;
      left: -$diagLeft;
      top: 60px;
      z-index: 10;
      background-color: white;
      border-radius: 4px;
      border: 1px solid lightgray;
      box-shadow: 0px 0px 20px 0px lightgray;
      &:before {
        content: "";
        position: absolute;
        background-color: white;
        width: 20px;
        height: 20px;
        -webkit-transform: rotate(45deg);
        border-top: 1px solid lightgray;
        border-left: 1px solid lightgray;
        left: $diagLeft + 10px;
        top: -11px;
        box-shadow: 0px 0px 20px 0px lightgray;
        z-index: -1;
      }
      .bodyWrapper {
        z-index: 20;
        max-height: 500px;
        overflow-y: auto;
        background-color: white;
        .body {
          display: table;
          width: 100%;
          box-sizing: border-box;
          .datatype {
            height: 100%;
            width: 25%;
            border-right: 1px solid $medium-gray;
            box-sizing: border-box;
            display: table-cell;
            padding: 5px 5px 0px 5px;
            select {
              margin-bottom: 5px;
              width: 100%;
              font-size: inherit;
              background-color: $light-gray;
              border-radius: 2px;
              outline: none;
            }
          }
          .formula {
            padding: 5px;
            box-sizing: border-box;
            height: 100%;
            width: 75%;
            display: table-cell;
          }
        }
      }
      .buttons {
        padding: 5px;
        background-color: $light-gray;
        .left {
          display: inline-block;
          width: 50%;
          font-size: smaller;
          padding-left: 3px;
          box-sizing: border-box;
        }
        .right {
          display: inline-block;
          width: 50%;
          text-align: right;
          .button {
            font-weight: bold;
            .fa {
              color: $brand;
              margin-right: 5px;
            }
          }
          .delete {
            margin-right: 5px;
            .fa {
              color: desaturate(red, 40%);
            }
          }
        }
      }
    }
  }
}

button.pure {
  border: none;
  background: none;
  outline: none;
  color: $link;
  padding: 3px;
  line-height: 15px;
  &:hover {
    color: $link-hover;
  }
  cursor: pointer;
}

ul {
  padding-left: 25px;
}

textarea {
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  height: 35px;
  width: 290px;
}

span.link {
  color: $link;
  cursor: pointer;
  &:hover {
    color: $link-hover;
  }
}

span.active {
  font-weight: bold;
}

.editBox.columnName {
  font-weight: bold;
}

.editBox.string {
  height: 26px;
}

.editBox.invalid {
  input {
    background-color: lighten(red, 40%);
    border: 1px solid lighten(red, 20%);
  }
}

.editBox {
  div {
    position: relative;
    border: 1px solid white;
    box-sizing: border-box;
    height: 100%;
    padding: 1px;
    cursor: pointer;
    &:hover {
      border: 1px solid darken($medium-gray, 5%);
      &:after {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 8pt;
        background-color: darken($medium-gray, 5%);
        color: white;
        padding: 2px 3px;
        font-family: "FontAwesome";
        content: "\f040"; // fa-pencil
      }
    }
  }
  input {
    outline: none;
    font-weight: inherit;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid darken($medium-gray, 20%);
    padding: 1px;
  }
  .placeholder {
    color: gray;
  }
}

.Grid {
  outline: none;
}

.Grid__innerScrollContainer {
  overflow: visible !important;
}

.CodeMirror {
  height: auto !important;
  border: 1px solid $medium-gray;
}

.react-datepicker__day--selected {
  background-color: $brand !important;
}
