body, html {
  font-family: "Open Sans", "Arial", sans-serif;
  height: 100%;
  margin: 0px;
  position: relative;
}

@import "partials/spinner";
@import "partials/table";
@import "partials/column";
@import "partials/record";
@import "partials/cell";
@import "partials/layout";
@import "partials/controls";
@import "partials/editbox";
@import "partials/foreign";
