.auth-form__cell {
  width: 350px;
}

.auth-form__input {
  background: $light-gray;
  border: 1px solid color($light-gray lightness(-10%));
  border-radius: 2px;
  outline: none;
  color: $anthrazit;
  font-size: inherit;
  width: 100%;
}
