@import "../modules/colors";

.editbox--column-name {
  font-weight: bold;
}

.editbox--string {
  height: 26px;
}

.editbox--number {
  div {
    text-align: right;
  }
}

.editbox {
  position: relative;
  border: 1px solid transparent;
  box-sizing: border-box;
  height: 100%;
  padding: 1px;
  cursor: pointer;
  &:hover {
    border: 1px solid color($medium-gray lightness(-5%));
    &:after {
      position: absolute;
      right: 0px;
      top: 0px;
      font-size: 8pt;
      background-color: color($medium-gray lightness(-5%));
      color: white;
      padding: 2px 3px;
      font-family: "FontAwesome";
      content: "\f040"; /* fa-pencil */
    }
  }
}

.editbox__input {
  outline: none;
  font-weight: inherit;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid color($medium-gray lightness(-20%));
  padding: 1px;
}

.editbox__input--invalid {
  background-color: color(red lightness(+40%));
  border: 1px solid color(red lightness(+20%));
}

.editbox__placeholder {
  color: gray;
}

