@import "../modules/colors";

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-body {
  position: absolute;
  left: 0px;
  top: $menubar-height;
  right: 0px;
  bottom: 0px;
}

.menubar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: $menubar-height;
  background-color: $anthrazit;
  box-sizing: border-box;

  &:after {
    content: "";
    position: absolute;
    height: 5px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(to right, $brand-dark 0%, $brand-light 100%);
  }
}

.navigation {
  position: absolute;
  top: 10px;
  right: 10px;
  vertical-align: middle;
}

.navigation__button {
  background-color: $light-anthrazit;
  color: $medium-gray;
  border: none;
  box-shadow: none;
  padding: 5px;
  padding-bottom: 3px;
  margin-left: 3px;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  &:hover {
    color: $brand-light;
  }
}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: $titleWidth;
  height: 46px;
  font-weight: bold;
  padding-left: $titlePaddingLeft;
  display: table;
}

.title__logo {
  display: table-cell;
  width: 30px;
  height: 46px;
  vertical-align: middle;
  img {
    width: 30px;
    height: 30px;
    padding-top: 6px;
  }
}

.title__text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 26px;
  color: white;
}

.title__beta {
  margin-top: 5px;
  color: $brand-dark;
  transform: rotate(20deg);
}
