<header class="site-header">

  <div class="wrapper">

    <div class="title">
        <a href="/"><img class="logo" src="{{ "/img/herculus.svg" | prepend: site.cdn }}" /></a>

        <div class="name">
            Herculus
        </div>
    </div>

    <div class="menu">
      <ul>
        <li><a href="https://app.herculus.io">Login</a></li>
        <li><a href="https://app.herculus.io/doc/">Docs</a></li>
        <li><a href="https://github.com/themoritz/herculus">GitHub</a></li>
      </ul>
    </div>

  </div>

  <div class="gradient">
  </div>

</header>
