$light-gray: #f4f4f4;
$medium-gray: color(white lightness(-10%));

$anthrazit: #28373C;
$light-anthrazit: color($anthrazit lightness(5%));
$gray: rgba(255, 255, 255, 0.5);

$brand-dark: #ff1489;
$brand-light: #e9ff00;
$link: color($anthrazit lightness(5%));
$link-hover: color($brand-dark lightness(-10%));
