@import "../modules/colors";

.Grid {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
}

.Grid__cell {
  position: absolute;
}

.CodeMirror {
  height: auto !important;
  border: 1px solid $medium-gray;
}

.react-datepicker__day--selected {
  background-color: $brand-dark !important;
}

.react-datepicker__input-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1px;
  input {
    position: relative;
    outline: none;
    font-weight: inherit;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid transparent;
    padding: 1px;
    cursor: pointer;
    &:hover {
      border: 1px solid darken($medium-gray, 5%);
    }
  }
}
