@import "../modules/colors";
@import "../modules/dimensions";

.content-body {
  .cell {
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
  }
  .Grid__cell > .record {
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
  }
  .column {
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
  }
  .record-new {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }
  .column-new {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    .small-menu {
      left: 10px;
      top: 30px;
    }
  }
  .origin {
    border-right: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
    box-sizing: border-box;
    height: 100%;
  }
}
