.flatpickr-input {
  width: 100%;
  font-size: inherit;
}

.flatpickr-input,
.editbox {
  position: relative;
  border: 1px solid transparent;
  box-sizing: border-box;
  height: 27px;
  padding: 1px;
  cursor: pointer;
  &:hover {
    border: 1px solid color($medium-gray lightness(-5%));
    &:after {
      position: absolute;
      right: 0px;
      top: 0px;
      font-size: 8pt;
      background-color: color($medium-gray lightness(-5%));
      color: white;
      padding: 1px 3px;
      font-family: "FontAwesome";
      content: "\f040"; /* fa-pencil */
    }
  }
}

.plaincell {
  height: 27px;
  padding: 2px;
}

.plaincell__input {
  outline: none;
  font-weight: inherit;
  height: 27px;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 2px;
}

.editbox__input {
  outline: none;
  font-weight: inherit;
  height: 27px;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid color($medium-gray lightness(-20%));
  padding: 1px;
}

.editbox__input--invalid {
  background-color: color(red lightness(+40%));
  border: 1px solid color(red lightness(+20%));
}

