.grid-cell {
  border-right: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
  height: 100%;
}

.no-pointer-events {
  pointer-events: none;
}

.pointer-events {
  pointer-events: auto;
}

.cursor-col-resize {
  cursor: e-resize;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.overlay-gray {
  background-color: $anthrazit;
  opacity: 0.5;
}

.grid-resizer {
  &:hover {
    background-color: #4285F4;
  }
}

.bg-grid-blue {
  background-color: #4285F4;
}
