@import "partials/notifications";
@import "partials/auth";
@import "partials/projectoverview";
@import "partials/project";
@import "partials/layout";
@import "partials/controls";
@import "partials/menu";
@import "partials/editbox";

body, html {
  font-family: "Open Sans", "Arial", sans-serif;
  height: 100%;
  margin: 0px;
  position: relative;
}

.ace_editor {
  height: 200px;
}
