@import "partials/notifications";
@import "partials/auth";

body, html {
  font-family: "Open Sans", "Arial", sans-serif;
  height: 100%;
  margin: 0px;
  position: relative;
}

.ace_editor {
  height: 200px;
}
