@import "../modules/colors";

.auth-input,
.auth-txtarea {
  background: $light-gray;
  border: 1px solid darken($light-gray, 3%);
  border-radius: 2px;
  outline: none;
  margin: 5px 5px;
  color: $anthrazit;
  font-size: larger;
  width: 100%;

  &.invalid {
      background-color: lighten(red, 40%);
      border: 1px solid lighten(red, 20%);
  }
}

.content-body {
  .form {
    padding: 20px;
    .submit {
      text-align: right;
    }
    table td {
      width: 300px;
    }
    .disclaimer {
      text-align: center;
    }
  }
}
