@import "../modules/colors";

button.pure {
  border: none;
  background: none;
  outline: none;
  color: $link;
  padding: 3px;
  line-height: 15px;
  &:hover {
    color: $link-hover;
  }
  cursor: pointer;
}

a, span.link {
  color: $link;
  cursor: pointer;
  &:hover {
    color: $link-hover;
  }
}

a.active, span.active {
  font-weight: bold;
}
