@import "../modules/colors";

a, span.link {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition-property: color;
  transition-duration: 100ms;
  &:hover {
    color: $link-hover;
  }
}

a.active, span.active {
  font-weight: bold;
}

select, button {
  border: 1px solid darken($medium-gray, 8%);
  border-radius: 2px;
  background: $medium-gray;
  box-shadow: 0px 0px 2px 0px darken($medium-gray, 5%);
  color: $anthrazit;
}

button {
  &:active {
    transform: translate(1px, 1px);
  }
  &:hover {
    box-shadow: 0px 0px 2px 0px darken($medium-gray, 15%);
    color: black;
  }
  cursor: pointer;
}

select {
  width: 100%;
  font-size: inherit;
  background: $light-gray;
  border-radius: 2px;
  outline: none;
}

button.pure {
  box-shadow: none;
  border: none;
  background: none;
  outline: none;
  color: $link;
  padding: 3px;
  line-height: 15px;
  transition-property: color;
  transition-duration: 100ms;
  &:hover {
    color: $link-hover;
  }
  &:hover {
    transform: none;
  }
  cursor: pointer;
}

button.on-dark {
  color: $medium-gray;
  cursor: pointer;
  transition-property: color;
  transition-duration: 100ms;
  &:hover {
    color: $brand-dark;
  }
}

.navigation {
  position: absolute;
  top: 10px;
  right: 10px;

  button {
    background-color: $light-anthrazit;
    color: $medium-gray;
    border: none;
    box-shadow: none;
    padding: 5px;
    margin-left: 3px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    float: right;
    &:hover {
      color: $brand-light;
    }
  }
}

a.on-dark {
  color: $medium-gray;
  cursor: pointer;
  transition-property: color;
  transition-duration: 100ms;
  &:hover {
    color: $brand-light;
  }
}

// Scrollbars

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: lightgray;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: white;
}
