@import "../modules/colors";

button.pure {
  border: none;
  background: none;
  outline: none;
  color: $link;
  padding: 3px;
  line-height: 15px;
  transition-property: color;
  transition-duration: 100ms;
  &:hover {
    color: $link-hover;
  }
  cursor: pointer;
}

a, span.link {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition-property: color;
  transition-duration: 100ms;
  &:hover {
    color: $link-hover;
  }
}

.link-on-dark {
  color: $gray;
  cursor: pointer;
  transition-property: color;
  transition-duration: 100ms;
  &:hover {
    color: $brand-light;
  }
}

a.active, span.active {
  font-weight: bold;
}

select {
 width: 100%;
 font-size: inherit;
 background-color: $light-gray;
 border-radius: 2px;
 outline: none;
}
