@import "../modules/colors";

.Grid {
  outline: none;
}

.Grid__innerScrollContainer {
  overflow: visible !important;
}

.CodeMirror {
  height: auto !important;
  border: 1px solid $medium-gray;
}

.react-datepicker__day--selected {
  background-color: $brand !important;
}
