@import "../modules/colors";

$tocWidth: 200px;
$controlsHeight: 47px;
$castWidth: 846px;

.screencasts-container {
  z-index: 20000;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -2px;
  }
  .screencasts {
    z-index: 25000;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: $tocWidth + $castWidth;
    height: 600px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    .toc {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: $tocWidth;
      background-color: $anthrazit;
      font-weight: bold;
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
      }
      li {
        color: $gray;
        padding: 10px;
        cursor: pointer;
        .fa {
          margin-right: 5px;
          width: 20px;
          text-align: center;
        }
        transition-property: color;
        transition-duration: 75ms;
        &:hover {
          color: $brand-light;
        }
      }
      li.active {
        background-color: lighten($anthrazit, 5%);
        color: $brand-light;
      }
      li.goto-tool {
      }
    }
    .entry {
      position: absolute;
      left: $tocWidth;
      top: 0px;
      bottom: $controlsHeight;
      right: 0px;
      .cast {
        overflow: hidden;
        img {
        }
      }
      .description {
        padding: 10px;
        border-top: 1px solid $medium-gray;
        ul {
          padding-left: 25px;
          margin: 5px 0px;
        }
        li {
          padding: 5px;
        }
      }
    }
    .controls {
      position: absolute;
      background-color: $light-gray;
      left: $tocWidth;
      right: 0px;
      text-align: right;
      bottom: 0px;
      height: $controlsHeight;
      padding: 10px;
      box-sizing: border-box;
      button {
        font-size: 18px;
        .fa {
          margin-right: 10px;
        }
      }
    }
  }
}
