$light-gray: #f4f4f4;
$medium-gray: darken(white, 10%);

$anthrazit: #28373C;
$gray: rgba(255, 255, 255, 0.5);

$brand-dark: #ff1489;
$brand-light: #e9ff00;

$anthrazit-light: lighten($anthrazit, 75%);
