$logo-size: 50px;
$footer-height: 38px;

$cover-height-lg: 350px;
$cover-height-md: 300px;
$cover-height-sm: 200px;

$screencast-width: 846px;

$desc-width-lg: 400px;
$desc-margin-lg: 100px;

// Media queries
$break-small: $screencast-width;
$break-large: 1500px;
