@import "dimensions";
@import "colors";

header {
  .wrapper {
    position: relative;
    background-color: $anthrazit;
    box-sizing: border-box;
    padding-bottom: 5px;
    height: $logo-size + 25px;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: linear-gradient(to right, $brand-dark 0%, $brand-light 100%);
    }

    .title {
      position: absolute;
      left: 0px;
      top: 0px;
      padding: 10px;
      height: $logo-size;
      width: 50%;
      .logo {
        float: left;
        width: $logo-size;
        height: $logo-size;
        margin-right: 10px;
      }
      .name {
        color: white;
        font-weight: bold;
        font-size: 26pt;
        vertical-align: middle;
      }
    }

    .menu {
      position: absolute;
      right: 0px;
      top: 0px;
      box-sizing: border-box;
      width: 50%;
      height: $logo-size + 20px;
      font-size: 14pt;
      ul {
        list-style: none;
        margin: 0px;
        height: 100%;
        li {
          float: right;
          height: 100%;
          padding: 0px;
          a {
            vertical-align: middle;
            display: block;
            box-sizing: border-box;
            padding: 25px 30px;
            height: 100%;
            color: $light-gray;
            &:hover {
              color: $brand-light;
              background-color: lighten($anthrazit, 5%);
            }
          }
        }
      }
    }
  }
}
